

.affiliates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:80px;
}

.input-field {
  padding: 10px;
  border: 1px solid #7c55e6;
  border-radius: 5px;
  width: 150px;
  transition: border-color 0.3s;
}
.input-field:hover,
.input-field:focus {
  border-color: #7c55e6;
}

.send_code {
  width:100px;
  padding: 10px 20px;
  background-color: #7c55e6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin:5px;
  font-size: 15px;
  transition: background-color 0.3s;
}
.send_code:hover {
  background-color: #4f2caf;
}

.confirmation-msg {
  margin-top: 10px;
  color: #000000af;
  display: none; 
}

/*separation*/









.clip-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(243, 245, 247, 1.0);
    padding: 100px 120px;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 100px;
    overflow: hidden;
    flex-wrap: wrap; 
}

.sub-container-clip {
    flex: 0 0 270px; 
    height: 480px;
    padding: 0px;
    border-radius: 10px;
    margin: 0 10px 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.sub-container-clip video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajustar el video al tamaño del contenedor */
    top: 0;
    left: 0;
    z-index: -1; /* Enviar el video al fondo */
}
.sub-container-clip:hover video {
    filter: brightness(0.8); /* Reducir el brillo al 80% */
}


.sub-container-clip:hover {
    background-color: #7c55e6;
    box-shadow: 0 0 20px #5f2ee4;
}

.sub-container-clip h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

@media (max-width: 1125px) {
    .clip-container {
        justify-content: center; /* Centrar los sub-contenedores */
    }

    
    .sub-container-clip {

        max-width:270px;
        height: 480px;
        border-radius: 10px;
        margin: 10px auto;
        text-align: center;
        transition: background-color 0.3s;
    }

    #clip3{
        display:none;
    }
}

@media (max-width: 600px) {
    
    
    .clip-container {
        display: flex;
        justify-content: center;
        background-color: rgba(243, 245, 247, 1.0);
        
        padding: 60px 60px;
        border-radius: 10px;
        margin-top: 40px;
        margin-bottom: 60px;
        overflow: hidden;
        flex-wrap: wrap; 
    }

    
}


