
.features-container {
    display: flex;
    justify-content: center;
    text-align: center;
    color:rgb(39, 39, 39);
    background-color: rgba(243, 245, 247, 1.0);
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    flex-wrap: wrap; 
    user-select: none;
}


.sub-container-features {
    flex: 0 0 270px; 
    background: linear-gradient(135deg, #ffffff 0%, #9277da33 100%);
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin:20px 10px;
    width: 300px;
    text-align: center;
}



#discountMessage{
    display:none;
    width:100%;
    justify-content: center;

    font-size:15px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.7);
}


/*separation*/









.clip-container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(243, 245, 247, 1.0);
    padding: 100px 120px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    flex-wrap: wrap; 
}

.sub-container-clip {
    flex: 0 0 270px; 
    height: 480px;
    padding: 0px;
    border-radius: 10px;
    margin: 0 10px 20px;
    text-align: center;
    transition: background-color 0.3s;
}

.sub-container-clip video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: -1;
}

/*
.sub-container-clip:hover video {
    filter: brightness(0.8); 
}


.sub-container-clip:hover {
    background-color: #7c55e6;
    box-shadow: 0 0 20px #5f2ee4;
}
*/



@media (max-width: 1125px) {
    .clip-container {
        justify-content: center; 
    }

    
    .sub-container-clip {

        max-width:270px;
        height: 480px;
        border-radius: 10px;
        margin: 10px auto;
        text-align: center;
        transition: background-color 0.3s;
    }

    .features-container {
        justify-content: center; 
    }
    
    .sub-container-features {
        max-width:270px;
        margin: 10px 20px;
    }

    #clip3{
        display:none;
    }
}

@media (max-width: 600px) {
    
    
    .clip-container {
        padding: 60px 60px;
    }

    .features-container {
        display: flex;
        justify-content: center;        
        margin-top: 0px;
        margin-bottom: 0px;
        flex-wrap: wrap; 
    }

    
}


