body {
    margin: 0;
    padding: 0;
    font-family: 'Arial';
    color: #ffffff;
    background: rgb(255, 255, 255);
  }

  .carousel-title {
    position: relative;
    width: 300px; 
    margin: 0 auto;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
    padding-bottom: 10px;
}
.listen-title {
  position: relative;
  user-select: none;
  padding-bottom: 10px;
}

  .carousel-container {
    position: relative;
    width: 200px; 
    margin: 0 auto;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease; 
}

.slide {
    flex: 0 0 200px;
    height: 40px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    color:white;
    background-color: #7c55e6; 
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px; 
    background-color: #7c55e6; 
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2; 
    font-size: 16px;
    font-weight: bold;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

  






  




  h1{
    font-size:2.2rem;
  }

  p{
    font-size:1.3rem;
  }

  .container {
    max-width: 1400px;
    margin: 0 auto; /*quitar*/
    /*width: 99%;*/
    /*margin: 20px auto;*/
    /*padding: 0 20px;*/
    box-sizing: border-box;
  }

  nav {
    background-color: #33333300;
    color: rgb(0, 0, 0);
    padding: 0px;
    margin:20px;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .destacado {
    background-color: #7c55e6;  
    color:white;
    padding:0px 15px;          
    border-radius: 8px;         
    display: flex;              
    align-items: center;        
    height: 35px;    
    margin: 0px 5px;
}
  
  nav h3 {
    display: inline-block;
    color:rgba(0, 0, 0, 0.7);
    margin: 0px;
    font-size:1.5rem;
    font-family: 'Bungee';
  }

  .card-container {
    margin-top: 20px;
    margin-bottom: 50px;
    border: 1px solid rgba(67, 245, 13, 0); 
    background-color: rgba(243, 245, 247, 1.0);
    /*border-radius: 20px;change*/ 
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    user-select: none;
  }

  .sub-card-container {
    display: flex;
    justify-content: center;
    
    width:auto;
    /*justify-content: space-between;*/
  }

  

  .responsive-font-0 {
    font-size: 120%;  
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  

    display: flex;
    justify-content: center;  
    align-items: center;      
    height: 100%;  

    color:#7c55e6;
    
    margin-top:70px;
    font-family: 'Arial Black';
    font-weight: bolder;
}

  .responsive-font {
    font-size: 260%;  
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  

    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;  

    margin-top:20px;
    padding:0px;

    color:rgba(0, 0, 0, 0.781);
    
    font-family: 'Arial';
    font-weight: bold;
}

.responsive-font h4 {
  margin:0px;
}




  .card {
    box-shadow: 0 0 20px #7c55e6;
    border-radius: 15px;
   /* margin: 40px 14vw;*/
   margin: 40px 10px;  
    padding: 15px;
    width:600px;
    height:auto;
  }

  .full-width-card {
    flex: 1 0 100%; 
    box-sizing: border-box;
    border: 1px solid #dddddd00;
    padding: 15px;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
  }

  .full-width-card-2 {
    color:rgba(0, 0, 0, 0.767);
    flex: 1 0 100%; 
    box-sizing: border-box;
    border: 1px solid #dddddd00;
    padding: 15px;
    text-align: center;
    font-size: 16px;
  }

  #loading{
    display:none;
  }
  #ready{
    display:none;
  }

  /*
  .card img {
    width: 100%; 
    height: auto; 
    border-radius: 20px;
    margin-top:40px;
    user-select: none;
  }
  */
  
  .full-width iframe {
    width: 100%; 
    height: auto; 
  }
  iframe {
    width: 560px; 
    height: 315px; 
  }

  .buttons-container {
    display: none;/*poner flex*/
    justify-content: flex-start; 
    margin-top: 5px; 
    user-select: none;
  }

  .btn {
      display:block;
      margin-top:10px;
      margin-bottom:10px;
      margin-right:5px;
      margin-left:5px;
      border: none;
      background-color:#7c55e6;
      border: 1px solid rgba(177, 177, 177, 0.4); 
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;
      font-family: 'Arial'; 
      font-size:15px;
      font-weight: bold;
      
      width: 100%;
      box-sizing: border-box;
  }

  .btn2 {
    display:block;
    margin-top:30px;
    margin-bottom:30px;
    margin-right:10px;
    border: 1px solid #ffffff;
    background: #00000000;
    color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size:16px;
    font-weight: bold;
    width: 100%;
    max-width: 200px;
    box-sizing: border-box;
}



  .btn:hover {
      background-color: #512faf;
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 5px rgba(67, 46, 255, 0.671);

  }
  .btn2:hover {
    background-color: #0000006b;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 5px rgba(17, 0, 172, 0.5);

}



  .img-container {
      justify-content: space-between;
      text-align: center;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-top: 50px;
      padding-bottom: 100px;
      user-select: none;
  }
  .img-container img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }

  .language-name {
      min-width:150px;
      padding-top: 5px;
      padding-bottom: 30px;
      font-size: 0.8em;
      font-weight: bold; 
  }

  .video-container{
    display:none;/*borrar linea*/
    padding-top:30px;
  }

  #desktop{
      display:none;
  }

#support-container{
    display:block;
}





  .description-container {
    display: flex;
    justify-content: center;
    text-align: center;
    color:rgb(39, 39, 39);
    background-color: rgba(243, 245, 247, 1.0);
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    overflow: hidden;
    flex-wrap: wrap; 
    user-select: none;
}
.description-container-2 {
    display: flex;
    justify-content: center;
    text-align:center;
    color:rgb(39, 39, 39);
    background-color: rgba(243, 245, 247, 1.0);
    padding: 20px 20px;
    overflow: hidden;
    flex-wrap: wrap; 
    max-width:600px;
}
.description-container-3 {
    font-family: "Segoe UI";
    font-size: 1rem;
    line-height: 1.8;
}
.description-container-4 {
    color:#7c55e6;
    font-family: "Segoe UI";
    font-size:1em;
    font-weight: bold;
}
h1{
    font-size: 1.8em;
    margin-bottom:0px;
  }
h2{
    font-size: 1em;
    margin-bottom:0px;
  }

.title-container {
    text-align: center;
    flex-grow: 1; 
    cursor: pointer;
    user-select: none;
}



#x_limit_size{
  display:flex;
  width:100%;
  margin-bottom:20px;
  justify-content: right;
}

.modal_limit_size {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  justify-content: center;
  align-items: center;
}

.modal-content-limit-size {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top:10px;
  padding-left:30px;
  padding-right:30px;
  padding-bottom:30px;

  border-radius: 20px;

  color:black;
  background-color: #ffffff;
  
  
  border: 1px solid #888;
  min-width: 200px; 
  width:250px;
  text-align: center;
}

.modal-content-limit-size p{
  color:rgba(0, 0, 0, 0.8);
  font-size:16px;
}

.close_limit_size {
  color: #aaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}

  @media only screen and (max-width: 1000px) {
    /*
    original
    .container {
      padding: 0 10px;
    }
    */
    .card {
      box-sizing: border-box;
      background-color: #7c55e618;
      box-shadow: 0 0 20px #7c55e600;
      border-radius: 15px;
      width: 600px;        
      max-width: 98%;  
      margin: 0 auto; 
    }

    .language-name {
      min-width:100px;
  }

      /*
      #desktop{
          display:flex;
      }
      .btn{
          display:none;
      }
      */

      iframe {
      width: 250px; 
      height: 200px; 
      }


      .sub-card-container {
        justify-content: center;
        flex-wrap: wrap;
      }
      

      /*
      .card {
        flex: 0 0 calc(50% - 10px);
        box-sizing: border-box;
        box-shadow: 0 0 20px #7c55e6;
        border-radius: 15px;
        margin: 40px 10px;
        padding: 15px;
        min-width:200px;
      }
      */

      .responsive-font-0 {
        font-size: 20px;
    }
      .responsive-font {
        font-size: 4.2vw;
        margin-bottom: 30px;
    }

    

      #support-container{
        display:none;
    }


      
    
  }



  @media only screen and (max-width: 600px) {

    /*
    original
    .card {
      box-sizing: border-box;
      box-shadow: 0 0 20px #7c55e6;
      border-radius: 15px;
      width: 100%;        
      max-width: 98%;  
      margin: 0 auto; 
    }
    */

    
    .description-container-2 {
        justify-content: left;
        text-align:left;
    }
    .description-container-4 {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.8em;
    }
  

    

    .card {
      width: 100%;
    }

    .responsive-font-0 {
      margin-top:50px;
      margin-bottom: 20px;
      font-size: 14px;
  }
  .responsive-font {
      font-size: 18px;
    margin-top:0px;
    margin-bottom: 30px;
}





  .card-captions,.card,.full-width-card {
      flex: 0 0 100%; 
    }

    .modal-content-limit-size {
      max-width: 200px; 
      min-width: 100px; 
    }

    nav h3 {
      font-size:20px;
      margin:5px 0px;
    }
}

@media only screen and (max-width: 400px) {
  .responsive-font {
    font-size: 16px;
}
}
