@font-face {
    font-family: 'font1';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font2';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font2_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font3';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font3_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font4';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font4.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font5';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font5_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font6';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font6.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font7';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font8';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font8_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font9';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font9_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'font10';
    src: url('https://raw.githubusercontent.com/manyresources/resourcespage/main/fonts/font10_2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
