.telegram-button {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background-color: #0088cc;
            color: white;
            border: none;
            border-radius: 10px; /* Para bordes redondeados */
            text-decoration: none;
            font-size: 24px;
            transition: background-color 0.3s ease;
        }

        .telegram-button:hover {
            background-color: #007bb5;
        }

.rugido-logo{
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    object-fit: cover;
    margin-top:50px;
    margin-bottom: 20px;
}

.subtitle-description-container {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 400px; 
    padding: 20px;
    box-sizing: border-box; 
  }
  
  .subtitle-description-container img {
    width: calc(100% - 40px); 
    height: auto; 
    display: block; 
    border-radius: 20px;
  }

  @media (max-width: 600px) {

    .subtitle-description-container {
        justify-content:left; 
      }
  }
  
