.checkbox-container-global {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox-container {
    display: flex;
    margin:5px 5px;
    align-items: center;
}

.checkbox-label {
    font-family: "Arial";
    font-weight: bold;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.7);
    margin: 0px 10px;
}

.checkbox-input {
    display: none;
}

.checkbox-custom {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
}

.checkbox-custom:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #7c55e6;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.checkbox-input:checked + .checkbox-custom:before {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    
    .checkbox-container-global {
        display: block;
    }
}