#liveCanvas{
	background:transparent !important;
}

#settings-openModalBtn {
  position: relative; 
}

 
#settings-openModalBtn::before {
  content: '';
  position: absolute;
  inset: -4px;  
  border-radius: 12px;  
  padding: 4px;  
  background: linear-gradient(90deg, #39ff14, transparent, transparent, transparent);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  filter: blur(10px) brightness(2);  
}
 
#settings-openModalBtn.neon-glow::before {
  opacity: 1;
  animation: border-race 1s linear;
}

@keyframes border-race {
  0% { background: linear-gradient(0deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
  12.5% { background: linear-gradient(45deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
  25% { background: linear-gradient(90deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
  37.5% { background: linear-gradient(135deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
  50% { background: linear-gradient(180deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
  62.5% { background: linear-gradient(225deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
  75% { background: linear-gradient(270deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
  87.5% { background: linear-gradient(315deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
  100% { background: linear-gradient(360deg, #39ff14 0%, #32cd32 25%, transparent 50%); }
}

.language-block { 
    transition:0.1s !important;
}
 

.colorModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.color-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
}

.change-color-btn {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 20px;
    border: 1px solid #7c55e6;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
}

.change-color-btn.active {
    background-color: #7c55e6;
    color: white;
}

#colorOptions input[type="color"] {
    margin-top: 10px;
    height:50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#colorCount{
    color:black;
    font-family: "Open Sans", sans-serif; 
    margin:10px 5px;
    font-size: 14px;
}
.color-close-btn {
    font-family: 'Arial';
    color:rgb(40, 40, 40);
    cursor: pointer;
    float: right;
    font-size: 24px;
    font-weight: bold;
}


/*settings position*/

.form-container { 
    padding:0 2px;
}

.positionModalSub {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.position-modal-content-sub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    max-height: 80%; 
    overflow-x: hidden;
    overflow-y: auto;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color:black;
    border-radius: 8px;
}

.position-close-btn-sub {
    font-family: 'Arial';
    color:rgb(40, 40, 40);
    cursor: pointer;
    float: right;
    font-size: 24px;
    font-weight: bold;
}



.tutorialModalSub {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index:10;
}

.tutorial-modal-content-sub {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    max-height: 80%; 
    overflow-x: hidden;
    overflow-y: auto;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    color:black;
    border-radius: 8px;
}

.tutorial-close-btn-sub {
    font-family: 'Arial';
    color:rgb(40, 40, 40);
    cursor: pointer;
    float: right;
    font-size: 29px;
    font-weight: bold;
    margin:5px 7px;
}



 .bar-option-container { 
  position: relative;
  width: 300px;  
  height: 60px;
  margin: 10px auto 0 auto;
  user-select: none;
} 

.labels {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  font-size: 14px;
  pointer-events: none;
}

.label {
  width: 33%;
  text-align: center;
  margin:0;
}

.bar {
  position: absolute;
  top: 35px;
  width: 100%;
  height: 4px;
  background-color: #999;
}

.circle {
  position: absolute;
  top: 25px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7c55e6;
  cursor: pointer;
  transition: left 0.3s ease, transform 0.3s ease;
}

 
.circle.pos-0 {
  left: 0%;
  transform: translateX(0);
}

.circle.pos-1 {
  left: 50%;
  transform: translateX(-50%);
}

.circle.pos-2 {
  left: 100%;
  transform: translateX(-100%);
}



 .option-sub-title{
    display:block;
    color:black;
    font-size: 14px; 
    font-weight: bold;  
    text-align: center;
    margin: 5px 20px 0 20px; 

 }

 #position-sub-title {  
    margin: 30px 20px 0 20px; 
} 
 

@media (max-width: 600px) {
  .bar-option-container {
    width: 240px;
    height: 50px;
  }

  .circle {
    width: 18px;
    height: 18px;
    top: 23px;
  }

  .bar {
    top: 33px;
  }

  .labels {
    font-size: 13px;
  }
}

@media (max-width: 400px) {

  #position-sub-title {  
      margin: 20px 20px 0 20px; 
  } 

  .bar-option-container {
    width: 160px;
    height: 45px;
    margin: 10px auto 0 auto;
  }

  .circle {
    width: 16px;
    height: 16px;
    top: 22px;
  }

  .bar {
    top: 32px;
  }

  .labels {
    font-size: 12px;
  }
}
@media (max-width: 300px) {
    .bar-option-container {
    width: 140px;
    height: 40px;
  }
}
 
 

