body {
    background: radial-gradient(circle, #1b2735, #090a0f);
    background: radial-gradient(circle, #341b35, #33293f);
    color: #ffffff;
    font-family: Arial, sans-serif;
    justify-content: center;
@@ -25,7 +25,7 @@ nav{
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background: radial-gradient(circle, #7c55e6, rgba(255, 255, 255, 0));
    filter: blur(100px);
    opacity: 0.7;
    z-index: -1;
@@ -189,6 +189,12 @@ nav{
    flex-grow: 1; 
    cursor: pointer;
}
.title-container h3{
    margin: 0px;
    font-size:25px;
    font-family: 'Bungee';
}


#card-video{
    display:none;
    margin:20px auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width:500px;
    height:auto;
}
.description-input{
    font-size:14px;
    margin:10px 30px;
}
#description-input-2{
    display:none;
    font-size:14px;
    margin:10px 30px;
}
#description-input-2 a{
    color:#00ca11;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: font-size 0.2s;
}
#description-input-2 a:hover{
    color:#ffffff;
}
#description-loading{
    display:none;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#downloadVideo{
    display:none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border:0px;
    padding:10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #00920c;
    border-radius: 5pxrgb(0, 226, 57);
    cursor: pointer;
}
#error-creation{
    display:none;
    font-weight: bold;
    color:rgb(0, 255, 42);
}
@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
@media only screen and (max-width: 600px) {
    .card-video{
        margin:20px;
    }
}
