
body {
    background-color: #6643c9;
    color: #ffffff;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


nav {
    background-color: #f8f8f8;
    color: rgb(0, 0, 0);
    padding: 20px;
    margin:0px;
    user-select: none;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  nav h3 {
    display: inline-block;
    color:rgba(0, 0, 0, 0.7);
    margin: 0px;
    font-size:1.5rem;
    font-family: 'Bungee';
  }

  .title-container {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
    cursor: pointer;
}


.logo-container{
    display:inline-block;
    margin:0px 5px;
    padding:0px;
  }
  .logo_title{
    width: 30px; 
    height: 30px;
    border-radius: 50%; 
    object-fit: cover;
  }
  
  
  

#principal-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #1b273500; 
}

.blob {
    position: absolute;
    width: 300px;
    height: 300px;
    background: radial-gradient(circle, #7c55e6, rgba(255, 255, 255, 0));
    filter: blur(100px);
    opacity: 0.7;
    z-index: -1;
}


#container {
    display: block;
    text-align: center;
    margin:30px 0px;

    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#container2 {
    display: block;
    text-align: center;
    margin:30px 0px;

    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#image-upload-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px 30px;
}

.image-box {
    position: relative;
    width: 80px;
    height: 80px;
    border: 2px dashed #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.plus-symbol {
    font-size: 24px;
    color: #ffffff;
}

#text-container {
    margin: 20px auto;
}
#text-container textarea{
    font-family: "Segoe UI";
    height:180px;
    max-width:600px;
    color:rgba(0, 0, 0, 1);
    background-color: rgba(243, 245, 247, 1.0);
}
#text-input {
    width: 80%;
    height: 100px;
    padding: 20px;
    border: 1px solid #666;
    background-color: #1e1e1e;
    color: #ffffff;
    resize: none;
    font-size:16px;
    border-radius: 20px;
}

#submit-button {
    display:inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.5);
    color: #ffffff;
    cursor: not-allowed;
}

#submit-button:enabled {
    background-color: #00ff00;
    cursor: pointer;
}

#loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}



#loader-container {
    font-family: 'Arial Black';
    display: none;/*flex*/
    justify-content: center;
    align-items: center;
    margin-top:70px;
    margin-bottom:20px;
    color:rgba(0, 0, 0, 0.781);
  }
  
  
  .loader {
    position: relative;
    width: 120px;
    height: 120px;
  }
  
  
  .circular {
    animation: rotate 2s linear infinite;
    
    transform-origin: center center;
    width: 100%;
  }

  .path {
    stroke-dasharray: 80, 200;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.9s ease-in-out;
  }

  .percentage {
    display:flex;
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }






  
    
    


#card-video{
    display:none;
    margin:20px auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    max-width:500px;
    height:auto;
}

.description-input{
    font-size:14px;
    margin:10px 30px;
}

#description-input-2{
    display:none;
    font-size:14px;
    margin:10px 30px;
}
#description-input-2 a{
    color:#00ca11;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: font-size 0.2s;
}
#description-input-2 a:hover{
    color:#ffffff;
}

#description-loading{
    display:none;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#downloadVideo{
    display:none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
    border:0px;
    padding:10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #00920c;
    border-radius: 5pxrgb(0, 226, 57);
    cursor: pointer;
}

#error-creation{
    display:none;
    font-size:12px;
    padding:5px;
    border-radius: 10px;
    background-color:white;
    font-weight: bold;
    color:rgb(255, 0, 0);
}







.carousel-container {
    position: relative;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 30px;
    user-select: none;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease;
}
.slide {
    flex: 0 0 200px; 
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    color:white;
    background-color: #7c55e6;
}
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px; 
    height: 30px; 
    background-color: #7c55e6; 
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2; 
    font-size: 16px;
    font-weight: bold;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}


.responsive-font {
    font-size: 30px;  
    white-space: nowrap;  
    overflow: hidden;  
    text-overflow: ellipsis;  

    display: flex;
    justify-content: center;  
    align-items: center;     
    height: 100%;  

    margin-top:20px;
    margin-bottom:40px;
    padding:0px;

    color:rgba(255, 255, 255, 0.9);
    
    font-family: 'Arial';
    font-weight: bold;
}

.responsive-font h4 {
  margin:0px;
}

form{
    display: flex;
    align-items: flex-start;
}


@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }


@media only screen and (max-width: 600px) {
    nav h3 {
        font-size:20px;
        margin:5px 0px;
      }

    .card-video{
        margin:20px;
    }

    .responsive-font{
        font-size:20px;
    }
}


@media only screen and (max-width: 1000px) {
    .responsive-font{
        font-size:25px;
    }
}

